html
{
  height: 100%;
}
body
{
  height: 100%;
  overflow: auto;
  font-family: Segoe UI;
  font-size: 9pt;
  background-color: white;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

img.img-header
{
  margin: 3px;
}

.puntini
{
  color: gray;
  margin-left: 3px;
}

td.bar-menu-header
{
  padding: 0px;
  padding-top: 3px;
  text-align: justify;
}

td.bar-menu-center
{
  padding: 0px;
}

td.bar-menu-footer
{
  padding: 0px;
  height: 30px;
  background-color: lightyellow;
  border-top: 1px solid lightgrey;
}

td.bar-menu-header .stretch
{
  width: 100%;
  display: inline-block;
  border-top: 1pt solid lightgray;
  margin: 0px;
  position: relative;
  top: -5px;
}
td.bar-menu-header img
{
  display: inline-block;
}

td.node
{
  border-bottom: 1pt solid gray;
  font-size: 120%;
  cursor: pointer;
  padding: 5px;
}

td.copy
{
  font-weight: bold;
}

td.node:hover
{
  background-color: aliceblue;
}

img.active-ico
{
  cursor: pointer;
}

img.unactive-ico
{
  cursor: not-allowed;
  opacity: 0.3;
  filter: alpha(opacity=30);
}
