body
{
  overflow: auto;
}

div.item-parent
{
  position: relative;
}

img.item-mc
{
  cursor: pointer;
  opacity: 0.3;
  z-index: 900;
  position: absolute;
  left: 0px;
}

div.mc-bar
{
  position: absolute;
  left: 16px;
  padding: 0px;
  margin: 0px;
  z-index: 900;
  height: 16px;
  width: 80px;
}

img.item-mc-bm
{
  cursor: pointer;
  opacity: 0.8;
  margin: 0px;
  z-index: 900;
  position: relative;
  top: -3px;
}

div.item-title
{
  font-size: 15pt;
  margin-bottom: 7px;
}

div.item-text
{
  margin-bottom: 7px;
  font-size: 10pt;
}

[contenteditable=true]:empty:not(:focus):before
{
  content: attr(data-text);
  color: gray;
}

span.item-label
{
  font-size: 10pt;
  background-color: whitesmoke;
  color: darkslategray;
  border-radius: 8px;
  border: 1px solid palegreen;
  padding: 0px 5px 3px 5px;
}

div.item-todo
{
  margin-top: 5px;
  margin-bottom: 5px;
  min-height:50px;
  position: relative;
}

div.todo-state
{
  font-size: 8pt;
  width: 100px;
  background-color: lightblue;
  color: white;
  text-align: center;
  padding: 2px;
  border-radius: 4px;
  position: absolute;
  left: 0px;
  top: 0px;
}

div.todo-cosa
{
  font-size: 10pt;
  margin-left:105px;
}
