
/* base */
a.anchor
{
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}

/* sidebar */

.sidebar
{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 50px 0 0;
}
.sidebar-sticky
{
  background: #343a40;
  position: relative;
  top: 0;
  height: calc(100vh - 50px);
  padding-top: 12px;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar-sticky ul
{
  margin: 0;
  padding: 0;
  padding-left: 10px;
  list-style-type: none;
}
