<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- parole chiave: {@app_folder}, {@setting:<nome_var>} -->
    <add key="start_hide" value="false"/>
    <add key="sys_path" value="C:\_lib\muzikaaa\_bin\"/>
    <add key="config_path" value="{@setting:sys_path}xmls\muzikaaa.xml"/>
    <add key="symbol_path" value="{@setting:sys_path}xmls\matrix_symbol.xml"/>
  </appSettings>
</configuration>