tr.stats-h-row
{
  border-bottom: 1pt solid gray;
  background-color: #dddddd;
}

th.stats-h-cell
{
  padding: 5px;
  border-right: 1pt solid gray;
}

tr.stats-b-row
{
  border-bottom: 1pt solid lightgrey;
}

td.stats-b-cell
{
  border-right: 1pt solid lightgrey;
  padding: 5px;
  text-align: right;
}

td.rif-month
{
  font-weight: bold;
  font-size: 130%;
}

span.value-cell
{
  white-space: nowrap;
  font-weight: bold;
}

span.title-cell
{
  font-size: 9pt;
  font-weight: normal;
}

span.sub-value-cell
{
  font-size: 9pt;
  font-weight: normal;
  white-space: nowrap;
}

div.subrow-cell
{
  white-space: nowrap;
}
